.flag {
	margin: 30px;
	width: 600px;
	height: 400px;
	border: 1px solid black;
}

/* Flag of Belgium */
.black {
	width: 200px;
    height: 400px;
    background: black;
}

.yellow {
	width: 200px;
    height: 400px;
	background: gold;
	position: relative;
	left: 200px;
	top: -400px;
}

.red {
	width: 200px;
    height: 400px;
	background: red;
	position: relative;
	left: 400px;
	top: -800px;
}

/* Flag of Japan */
.redcircle {
	width: 200px;
    height: 200px;
    background: red;
    border-radius: 100px;
	position: relative;
	left: 200px;
	top: 100px;
}


/* Flag of Trinidad and Tobago */
.third{
	background: red;
	overflow: hidden;
}

.stripe {
	width: 800px;
	height: 90px;
	background: black;
	transform: rotate(40deg);
	position: relative;
	left: -86px;
	top: 155px;
	border: white solid 20px;
}

